body
{
font-family:arial;
}
.head
{
position:fixed;
left:0px;
top:0px;
right:0px;
padding:0px;
background-color:#900;
color:white;
box-shadow:0px 1px 10px -1px black;
text-shadow:0px -1px #300;
cursor:
}
.body
{
width:760px;
padding:10px;
text-align:left;
}
.head-menu
{
display:inline-block;
padding:0px;
margin:0px;
}
.head-menu-item
{
display:inline-block;
padding:15px;
margin:0px;
font-size:20px;
cursor:pointer;
}
.head-menu-item-hover
{
display:inline-block;
padding:15px;
margin:0px;
font-size:20px;
cursor:pointer;
}
.head-menu-item-hover:hover
{
background-color:#800;
}
.head-menu-anchor
{
text-decoration:none;
color:white;
}